.app {
  position: absolute;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-container {
  width: 300px;
  height: 300px;
  border: solid 1px white;
  overflow-y: scroll;
  padding: 20px;
}

.list-container > .list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  border: solid 1px white;
  background-color: #696969;
}

.list-container > .list-item:not(:last-of-type) {
  margin-bottom: 20px;
}
